img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, sans-serif;
  background-color: #2b2b2b;
  color: white;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  aspect-ratio: 1 / 1;
  width: min(75%, 75vh);
  display: grid;
  gap: 1px;
}

.tile {
  background-color: black;
}

.input-box {
  border: none;
  outline: none;
  text-align: center;
  color: white;
  background-color: #3b3b3b;
  height: 3ch;
  padding: 0;
}

.size-container {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}